.embla {
    margin-top: clamp(1.5rem, 1.3885rem + 0.5096vw, 2rem);
    --slide-size: clamp(19.4375rem, 16.2886rem + 14.3949vw, 33.5625rem);

}

.embla-reviews {
    margin-top: clamp(1.9375rem, 1.8121rem + 0.5732vw, 2.5rem);
}

.embla__viewport {
    overflow: hidden;
}

.embla__container {
    display: flex;
}

.embla__slide {
    flex: 0 0 var(--slide-size);
    padding-right: 21px;
    display: flex;
    align-items: stretch;
}

.embla__slide:first-child {
    margin-left: clamp(1.25rem, -0.6936rem + 7.9739vw, 8.875rem);
    padding-left: 0;
}


.embla__controls {
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    gap: 1.2rem;
    /*margin-top: 1.8rem;*/
}

.embla__buttons {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
    align-items: center;
}
