@import "tailwindcss";
@import "tailwindcss/utilities";

@theme {
    --font-unbounded: 'Unbounded', sans-serif;
    --font-mulish: 'Mulish', sans-serif;
    --font-mulish-bold: 'Mulish', sans-serif;
    --font-mulish-regular: 'Mulish', sans-serif;
    --font-unbounded-medium: 'Unbounded', sans-serif;
    --font-unbounded-regular: 'Unbounded', sans-serif;

    --color-ls-white: #FFFFFF;
    --color-ls-black: #000000;
    --color-ls-grey: #787878;
    --color-ls-lightgrey: #F5F5F5;
    --gradient-ls: linear-gradient(to right, #00F4E6, #2C9AFF);
}

@layer utilities {
    .bg-gradient-ls {
        @apply bg-gradient-to-r from-[#00F4E6] to-[#2C9AFF];
    }

    .bg-hover-gradient-ls {
        @apply transition duration-300;
        &:hover {
            @apply bg-gradient-to-r from-[#00F4E6] to-[#2C9AFF];
        }
    }

    .text-gradient-ls {
        @apply bg-gradient-to-br from-[#00F4E6] to-[#2C9AFF] bg-clip-text text-transparent;
    }

    .hover-gradient-ls {
        @apply transition duration-300 text-white;

        &:hover {
            @apply bg-gradient-to-br from-[#00F4E6] to-[#2C9AFF] bg-clip-text text-transparent inline-block;
        }
    }

    .video-clamp {
        top: clamp(0rem, -1.4525rem + 4.6479vw, 4.125rem);
        left: clamp(0rem, -4.7535rem + 15.2113vw, 13.5rem);
    }

    .video-pt-clamp {
        padding-top: clamp(4.75rem, 2.4286rem + 9.5238vw, 7rem);
    }

    .scale-video-clamp {
        scale: clamp(1, 0.7 + 1vw, 1.23);
        transform-origin: top left;
    }


    .font-logo-clamp {
        font-size: clamp(1.13rem, 0.9082rem + 0.9098vw, 2rem);
    }

    .logo-spacing {
        gap: clamp(0.6875rem, 0.5123rem + 0.719vw, 1.375rem);
    }

    .container-px-clamp {
        padding-left: clamp(1.25rem, -0.6936rem + 7.9739vw, 8.875rem);
        padding-right: clamp(1.25rem, -0.6936rem + 7.9739vw, 8.875rem);
    }

    .pt-header-clamp {
        padding-top: clamp(0.5625rem, 0.1961rem + 1.5033vw, 2rem);
        padding-bottom: clamp(0.5625rem, 0.1961rem + 1.5033vw, 2rem);
    }

    .header-font-clamp {
        font-size: clamp(1rem, 0.9286rem + 0.2928vw, 1.28rem);
    }

    .header-gap-clamp {
        gap: clamp(1.25rem, -1rem + 2.8125vw, 2.375rem);
    }

    .header-bg {
        @apply bg-gradient-to-t from-transparent to-black
    }

    .home-head-font-clamp {
        font-size: clamp(2rem, 1.315rem + 2.8105vw, 4.6875rem);
    }

    .home-head-padding-clamp {
        padding-top: clamp(10rem, 7.7143rem + 3.5714vw, 12rem);
    }


    .home-font-clamp {
        font-size: clamp(1.0325rem, 0.9133rem + 0.4889vw, 1.5rem);
    }

    .home-info-width-clamp {
        width: clamp(23rem, 12.8571rem + 26.7857vw, 45rem);
    }

    .home-scroll-font-clamp {
        font-size: clamp(1.125rem, 0.8393rem + 0.4464vw, 1.375rem);
    }

    .home-info-padding-clamp {
        margin-top: clamp(1rem, 0.7359rem + 0.8451vw, 1.75rem);
    }

    .add-info-icon-clamp {
        width: clamp(2rem, 1.8248rem + 0.719vw, 2.6875rem);
        height: clamp(2rem, 1.8248rem + 0.719vw, 2.6875rem);
    }

    .section-h1-clamp {
        font-size: clamp(1.75rem, 1.511rem + 0.9804vw, 2.6875rem);
    }
}

.about-padding {
    padding: clamp(1.25rem, 0.7083rem + 2.2222vw, 3.375rem) 0 clamp(1.25rem, 0.7083rem + 2.2222vw, 3.375rem) clamp(1.25rem, 0.7083rem + 2.2222vw, 3.375rem);
}

@media screen and (max-width: 1024px) {
    .about-padding {
        padding: clamp(1.25rem, 0.7083rem + 2.2222vw, 3.375rem);
    }
}

@keyframes dot-bounce-up {
    0%, 50%, 100% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-0.2em);
    }
}

